.home {
    width: 100%;
    min-height: 100vh;

    background-color: #09090B;
    background-image: url('../../assets/image 91.jpg');
    background-size: cover;
    background-position: center;

}

.home-center-box {
width: 600px;
border-radius: 30px;
background-color: rgba(255, 255, 255, 0.645);
/* padding: 100px 50px; */
}

.home-center-top-box{
    width: 100%;
    background-color: white;
}
